# --- Python (стандарт) ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Секреты и настройки (Безопасность) ---
.env
.env.local

# --- Сборка и распределение ---
dist/
build/
*.spec

# --- Файлы проекта, которые ты хочешь скрыть ---
# Исключаем исходный код, чтобы он не попадал на GitHub
builder.py
autorobux_vip.py
clients.json